{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'admin:index' %}">В АДМИНКУ</a>
    {% endif %}
    <div class="page-container">
        {% include "blog/menu.html" %}
        {% block body %}{% endblock %}
        <br>
        <p><a href="{% url 'blog:index' %}">Вернуться назад</a></p>
    </div>
</body>
</html>