* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: #a1a1a1;
}

.container {
    color: #FFFFFF;
    background-color: #000000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #000000;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.header-logo {
    width: 100px;
    height: auto;
}

.header-user {
    text-align: right;
    font-size: 1.1em;
}

.header-user a {
    margin-left: 15px;
}

.header-title h1 {
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
}

.page-container {
    display: grid;
    grid-template-rows: auto 1vp auto;
}

.blog-module {
    text-align: center;
    font-size: 2em;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 15px;
    max-width: 1000px;
    margin: 30px auto;
}

.post-item a {
    color: #000000;
    font-size: 1.2em;
}

.post-image--thumb {
    width: 100%;
    object-fit: cover;
    height: 300px;
    aspect-ratio: 4 / 3;
}

.footer-container {
    padding: 25px 25px;
    font-size: 1.25em;
    display: flex;
    justify-content: space-evenly;
}

.post-title {
    text-align: center;
    margin-bottom: 15px;
}

.post-title h1 {
    margin-bottom: 10px;
}

.post-info {
    font-size: 1.2em;
}

