{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
<div class="page-container">
    {% include 'blog/header.html' %}
    <h1 class="blog-title">Capybara Blog</h1>
    <h2 class="blog-module">{% block module %}{% endblock %}</h2>
    {% block body %}{% endblock %}
    {% include 'blog/navigation.html' %}
</div>
</body>
</html>