{% extends "blog/base.html" %}
{% load static %}

{% block title %}
Blog Site
{% endblock %}

{% block body %}
<h1>Vessel Blog</h1>
{% for post in posts %}
<article class="post-container">
    <h2 class="post-title">
        {{ post.title }}
    </h2>
    <p class="post-body">
        {{ post.body }}
    </p>
    <img src="{% get_media_prefix %}{{ post.image }}" alt="нет изображения">
    <p class="post-date-time">
        {{ post.date }} ~ {{ post.time }}
    </p>
</article>
{% endfor %}
{% endblock %}