{% extends "blog/base.html" %}

{% block title %}
Blog Posts
{% endblock %}

{% block module %}
All posts
{% endblock %}

{% block body %}
<div class="posts-container">
{% for post in object_list %}
    <article class="post-item">
        <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
        {% if post.image %}
            <img class="post-image" src="{{ MEDIA_URL }}{{ post.image }}" alt="нет изображения">
        {% endif %}
        <p class="post-body">
            {{ post.summary }}
        </p>
        <p class="post-datetime">
            {{ post.date }} ~ {{ post.time }} : {{ post.id }}
        </p>
    </article>
{% empty %}
    <span>На данный момент нет никаких публикаций.</span>
{% endfor %}
</div>
<a href="{% url 'blog:categories' %}">
    Посмотреть все категории
</a>
{% endblock %}